.menu-container {
  list-style: none;
  display: flex;
  gap: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-radius: 15px;
  background-color: white;
}

@media (max-width: 767px) {

  .menu-container {
    padding-left: 4px;
    padding-right: 4px;
    align-items: center;
  }

  .logo {
    width: 150px;
    height: 24px;
  }
}
