.current-song {
  height: 100%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  /*min-height: 600px;*/
  height: 100%
}

.controls {
  display: flex;
  gap: 10px;
  margin-top: 32px;
  width: 100%;
  justify-content: center;
}

.song-description {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-top: 32px;
  width: 100%;
}

#widget2 {
  width: 100%;
}

@media (max-width: 767px) {

  .controls {
    gap: 4px
  }

  #widget2 {
    max-height: 220px
  }

  .control-icon {
    filter: invert(1);
  }

}